.leftItems:hover {
  cursor: pointer;
  color: #494c6b;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.194px;
}
