.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: var(--container-background);
  border-radius: 0.3125rem;
  box-shadow: var(--shadow-box);
}
