.todoTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33rem;
  height: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9375rem;
  color: #fff;
  font-family: Josefin Sans;
  font-size: 2.5rem;
}

h2 {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9375rem;
}
