.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
  height: 4rem;
  flex-shrink: 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--container-background);

  & li {
    display: flex;
    align-items: center;
  }
}

.doField {
  color: var(--font-color);
  font-family: Josefin Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
  padding-left: 1rem;
}

.doneField {
  color: var(--font-color);
  padding-left: 1rem;
  font-family: Josefin Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
  text-decoration-line: line-through;
}

button {
  background-color: #fff;
  border: none;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

svg {
  & g:first {
    circle {
      fill: var(--container-background);
    }
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}
