@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Josefin Sans, normal;
}

html {
  --light-background-image: url("./assets/img/dayPicture.jpg");
  --dark-background-image: url("./assets/img/nightPicture.jpg");
  --light-font-color: #494c6b;
  --dark-font-color: #c8cbe7;
  --light-background-color: #fafafa;
  --dark-background-color: #171823;
  --light-row-color: #ffffff;
  --dark-row-color: #25273d;
  --light-footer-font-color: #9495a5;
  --dark-footer-font-color: #5b5e7e;
  --dark-shadow-box: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  --light-shadow-box: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  --light-container-background-color: #ffffff;
  --dark-container-background-color: #494c6b;
  --light-input-color: #9495a5;
  --dark-input-color: #767992;
  --light-border-color: #e3e4f1;
  --dark-border-color: #393a4b;
  --light-hover-color: #494c6b;
  --dark-hover-color: #e3e4f1;
}

body[theme="Light"] {
  --background-image: var(--light-background-image);
  --font-color: var(--light-font-color);
  --background-color: var(--light-background-color);
  --row-color: var(--light-row-color);
  --footer-font-color: var(--light-footer-font-color);
  --shadow-box: var(--light-shadow-box);
  --container-background: var(--light-container-background-color);
  --input-color: var(--light-input-color);
  --border-color: var(--light-border-color);
  --hover-color: var(--light-hover-color);
}

body[theme="Dark"] {
  --background-image: var(--dark-background-image);
  --font-color: var(--dark-font-color);
  --background-color: var(--dark-background-color);
  --row-color: var(--dark-row-color);
  --footer-font-color: var(--dark-footer-font-color);
  --shadow-box: var(--dark-shadow-box);
  --container-background: var(--dark-container-background-color);
  --input-color: var(--dark-input-color);
  --border-color: var(--dark-border-color);
  --hover-color: var(--dark-hover-color);
}

body {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  margin-top: 12rem;
  width: 33.75rem;
  height: 27.4375rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}
